body {
  background-color: #dbe2fe;
}

header {
  color: #876488;
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.container {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: #3a1394;
  width: 1200px;
  height: 980px;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: absolute;
  left: 87%;
  top: 5%;
  height: 100px;
  width: 100px;
  color: white;
  background-color: rgb(241, 89, 29);
  border: 3px solid white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15%;
  transition: transform;
}

button:hover {
  box-shadow: 0px 0px 5px 5px rgba(235, 235, 235, 0.5);
  background-color: rgb(211, 78, 26);
  color: #000000;
}

#score {
  min-height: 100px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

img {
  width: 200px;
  height: auto;
  margin: 20px;
  border-radius: 10%;
  border: 5px solid white;
}
img:hover {
  box-shadow: 0 0 15px 15px white;
}

@media (max-width: 1200px) {
  header {
    color: #876488;
    text-align: center;
    font-size: 15px;
    margin: 0;
  }

  .container {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 10px;
    background-color: #3a1394;
    width: 90%;
    height: 450px;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  button {
    position: absolute;
    left: 80%;
    top: 3%;
    height: 50px;
    width: 50px;
    color: white;
    background-color: rgb(241, 89, 29);
    border: 3px solid white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 15%;
    transform: none !important;
  }

  img {
    width: 60px;
    height: auto;
    margin: 5px;
    border-radius: 10%;
    border: 5px solid white;
  }
}
